<html ng-app="app">

<head>
	<title>eMbeta Cloud</title>
	<link rel="stylesheet" type="text/css" href="libs/semantic/semantic.min.css">
</head>

<body ng-controller="main" ng-cloak="">
	<div class="ui container grid">
		<div class="row">
			<div class="column four wide">
				<button class="ui primary button" ng-click="redirectToLoginUrl(consentPageUrl)" ng-if="consentPageUrl">Login</button>
				<button class="ui button" ng-click="clearVisitedPages()">Clear Requests</button>
			</div>
			<div class="column six wide">
				<form onsubmit="return false;" ng-submit="openUrl()" class="ui form">
					<div class="ui input"><input type="text" ng-model="url" required></div>
					<div class="ui input"><input type="submit" value="Open"></div>
				</form>
			</div>
		</div>
		<div class="row">
			<div class="ui items">
				<div ng-repeat="page in visitedPages track by page.id" class="ui item">
					{{page.url}}
					<div class="ui progress" id="progress-{{page.id}}">
						<div class="bar"></div>
					</div>
					<div class="ui label">{{page.startedDownload}}</div>
				</div>
			</div>
		</div>
	</div>
	<script src="libs/jquery/jquery.min.js"></script>
	<script src="libs/semantic/semantic.min.js"></script>
	<script src="libs/angular/angular.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="js/index.js"></script>
</body>

</html>