<!DOCTYPE html>
<html ng-app="app">

<head>
	<title>eMbeta Cloud</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<link rel="stylesheet" type="text/css" href="libs/semantic/dist/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="css/index.css">
	<link rel="icon" href="cloud-favicon.png" type="image/x-icon" />
</head>

<body ng-controller="main" class="cage">
	<div class="ui grid container" ng-cloak>
		<!--head-->
		<div class="equal width row">
			<!--logo-->
			<div class="left floated column">
				<h2 style="color:#2185d0;">
					<i class="ui large blue cloud icon"></i> eMbeta
				</h2>
			</div>
			<!--controls-->
			<div class="column right floated right aligned">
				<!--login button-->
				<i title="Login" ng-click="redirectToLoginUrl(selectedCloud.url)" class="ui circular icon" ng-class="{
						'loading spinner':!selectedCloud,
						'disabled':(!selectedCloud || selectedCloud.creds),
						'green inverted':selectedCloud.creds,
						'link':(!selectedCloud || !selectedCloud.creds),
						'user':selectedCloud
					}"></i>

				<i style="display: none" class="ui lock link circular icon" ng-click="toggleIncognito()" ng-class="{'inverted':incognito,'red':incognito}"
				 title="Incognito"></i>
				<!--cloud selector-->
				<div class="ui top left pointing dropdown scDropdown" ng-show="config.csHead.value">
					<i class="ui cloud circular icon link picon"></i>
					<input type="hidden" name="selectedCloud">
					<div class="menu">
						<div class="item" data-value="{{a}}" ng-class="{'active selected':selectedCloud.displayName == cloud.displayName}" ng-repeat="(a,cloud) in clouds">
							{{cloud.displayName}}
						</div>
					</div>
				</div>
				<!--setting-->
				<i class="ui settings circular link icon" ng-click="showConfig()"></i>
				<div class="ui small modal" id="config">
					<div class="header">Configuration</div>
					<i class="close icon"></i>
					<div class="content">
						<div class="ui form">
							<div class="field" ng-repeat="(x,item) in config">
								<div title="{{item.title}}" class="ui {{item.type}}">
									<input type="{{item.type}}" value="{{item.value}}" ng-model="item.value" ng-change="updateConfig()" />
									<label>{{item.displayName}} </label>
								</div>
							</div>
							<div class="grouped fields">
								<label>Selected Cloud : </label>
								<div class="field">
									<div class="ui fluid selection dropdown scDropdown">
										<input type="hidden" name="selectedCloud">
										<i class="dropdown icon"></i>
										<div class="text">{{selectedCloud.displayName}}</div>
										<div class="menu">
											<div class="item" data-value="{{a}}" ng-repeat="(a,cloud) in clouds">{{cloud.displayName}}</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--connection indicator-->
				<i class=" ui lightning circular icon " ng-class="{ 'green':connected, 'red':!connected} "></i>
			</div>
		</div>
		<!--input-->
		<div class="row ">
			<div class="column ">
				<form onsubmit="return false; " ng-submit="processForm() ">
					<div class="ui fluid action input ">
						<input type="text " ng-change="search.results=false " ng-model="url " ng-keydown="console.log($event.keyCode)
					 " placeholder="Enter url to open, magnet or search torrent... ">
						<button type="submit " class="ui tiny button " ng-class="{ 'loading':magnetLoading} " ng-if="urlType()=='torrent' ">Load Torrent</button>
						<button type="submit " class="ui tiny button " ng-if="urlType()=='url' ">Open</button>
						<button type="submit " class="ui tiny button " ng-class="{ 'loading':magnetLoading} " ng-if="urlType()=='search' ">Search</button>
						<button type="submit " class="ui tiny button " ng-class="{ 'loading':magnetLoading} " ng-if="urlType()=='magnet' ">Load Magnet</button>
					</div>
				</form>
			</div>
		</div>
		<!--search results-->
		<div class="row " ng-if="(search.results && search.results.length>0) || search.loading">
			<div class="column">
				<div class="ui segment searchResults" ng-class="{'loading':search.loading}">
					<div class="ui grid">
						<div class="row" ng-repeat="result in search.results">
							<div class="eight wide column" style="word-break:break-all">
								<a href="{{result.link}}">{{result.name}}</a>
							</div>
							<div class="two wide column">{{result.size}}</div>
							<div class="two wide column">
								<span class="seeders">{{result.seeders}}</span>
								<i class="ui arrow up icon"></i>
							</div>
							<div class="two wide column">
								<span class="leechers">{{result.leechers}}</span>
								<i class="ui arrow down icon"></i>
							</div>
							<div class="two wide column">
								<i class="ui large green download link icon" ng-click="addTorrent(result.magnetLink)"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--no results found message-->
		<div class="row" ng-if="search.results && search.results.length==0 && !search.loading">
			<div class="column">
				<div class="ui message">
					<p>No torrents found</p>
				</div>
			</div>
		</div>
		<!--list of downloads-->
		<div class="row" ng-if="numKeys(visitedPages)>0">
			<div class="ten wide column">
				<h3>Downloads: </h3>
			</div>
			<div class="right floated right aligned column">
				<i class="ui trash link icon" title="Clear All Requests" ng-click="clearVisitedPages()"></i>
			</div>
		</div>
		<div class="row">
			<div class="column">
				<download-item ng-repeat="page in visitedPages track by page.id"></download-item>
			</div>
		</div>
		<!--list of torrents-->
		<div class="row" ng-if="numKeys(torrents)>0">
			<div class="ten wide column">
				<h3>Torrents :</h3>
			</div>
			<div class="right floated right aligned column">
				<i class="trash link icon" ng-click="clearTorrents()"></i>
			</div>
		</div>
		<div class="row">
			<div class="column">
				<download-item ng-repeat="page in torrents track by page.id"></download-item>
			</div>
		</div>

	</div>

	<script src="libs/jquery/jquery.min.js"></script>
	<script src="libs/semantic/dist/semantic.min.js"></script>
	<script src="libs/angular/angular.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="js/index.js"></script>
	<!--download item-->
	<script src="parts/downloadItem/downloadItem.js"></script>
	<link rel="stylesheet" type="text/css" href="parts/downloadItem/downloadItem.css">
	<!--directory-->
	<script src="parts/directory/directory.js"></script>
	<link rel="stylesheet" type="text/css" href="parts/directory/directory.css">

</body>

</html>